$font-size-h1: 50px;
$font-size-h2: 40px;
$font-size-h3: 30px;
$font-size-h4: 24px;
$font-size-h5: 20px;
$font-size-h6: 18px;

@font-face {
    font-family: 'BebasNeue';
    src:
      url('/fonts/Bebas_Neue/BebasNeue-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Lato';
    src:
      url('/fonts/Lato/Lato-Regular.ttf') format('ttf'),
      url('/fonts/Lato/Lato-Black.ttf') format('ttf');

    font-weight: normal;
    font-style: normal;
  }

  $font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700
  );
  