// Import styles from "../partials/importers"
@use "../partials/importers" as *;

// Styles for the card wrapper
.card-wrapper {
    width: 75%;
    margin: 0 auto;
    position: relative;
    top: -40px;

    // Mobile-specific styles
    @include mobile {
        top: 0px;
        margin-top: 20px;
        width: 100%;
    }

    // Styles for flex layout
    .flex {
        gap: 20px;

        // Mobile-specific styles
        @include mobile {
            gap: 25px;
            flex-direction: column;
        }
    }

    // Styles for employee cards
    .employees-cards {
        cursor: pointer;
        background-color: $white-color;

        // Include shadow mixin
        @include shadow;

        padding: 15px;

        h2 {
            color: $blue-color;
        }

        p {
            color: $gray-color;
            margin: 15px 0 0 0;

            &::after {
                display: block;
                content: "";
                border-top: 3px solid $yellow-color;
                width: 100%;
                margin: 15px 0 0 0;
            }
        }

        // Hover styles
        &:hover {
            background-color: $blue-color;
            h2 {
                color: $yellow-color;
            }
            p {
                color: $white-color;
            }
        }
    }
}
