@use "../partials/importers" as *;

nav {
    div {
        width: 33.33%;
    }
    ul {
        @include flex;
        gap: 25px;

        li {
            cursor: pointer;

            .active {
                color: $yellow-color;
            }
            a {
                color: $gray-color;
                display: block;
                font-size: 16px;
                line-height: 50px;
                transition: 0.5s;

                &:hover {
                    color: $yellow-color;
                }
            }
        }
    }
}

.logo {
    text-align: center;
    cursor: pointer;

    a {
        margin-top: 10px;
    }
}
.navbar {
    @include flex;
    justify-content: space-around;
}

.nav-btn {
    @include flex;
    justify-content: end;
    .active{
        background-color: $white-color;
        margin-right: 20px;
        a{
        color: $gray-color;
        }
        &:hover{
            background-color: $blue-color;
            a{
            color: $white-color;
            }
        }
    }
    button {
        @include button;
        font-size: 15px;
        margin: 10px 0;
        padding: 10px 16px;
        border-radius: 20px;
    }
}
