@use "../partials/importers" as *;

.section-1 {
    .Business_Consultant {
        .yellow_line {
            border: none;
            margin: auto 0;
            width: 60px;
            height: 3px;
            background-color: $yellow-color;
        }
        p {
            margin: 0 0 0 20px;
            color: $blue-color !important;
            font-weight: 700 !important;
        }
    }

    h1 {
        letter-spacing: 7px;
        font-family: BebasNeue-Regular;
        font-size: 70px;
        margin: 30px 0;
    }
    p {
        color: $gray-color;
        font-size: 17px;
        line-height: 27px;
    }

    .Get-Started-btn {
        @include button;
        font-size: 18px;
        margin: 30px 0px;
        padding: 14px 20px;
        border-radius: 30px;
    }
}
.section-1-bottom {
    margin-top: 10px;

    .flex {
        margin-top: 10px;
        .yellow-dot {
            margin: 3px 30px;
            color: $yellow-color;
        }
    }
}
.section-2 {
    margin: 0 auto;
    img {
        @include image;
    }
}
